
:root{
  --black: #333333; 
}

/* Reset some default styles */


body {
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  animation: h2entry 1.5s ease 0s 1 normal forwards;
}

p{
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  opacity: 0;
  animation: parentry 1.8s ease 0.5s 1 normal forwards;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

header {
  background-color: var(--black);
  color: white;
  padding: 2rem 0;
  text-align: center;
}

main {
  background-image: linear-gradient(135grad, #0250c5 0%, #d43f8d 100%);
  flex: 1;
  padding: 2rem;
}

footer {
  text-align: center;
  align-content: center;
  padding: 2rem;
  background-color: var(--black);
  color: white;
}

.grid-container {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
.grid-row {
  display: grid;
  gap: 1rem;
  border : ;
  padding: 1rem;
  animation: radialWipe 3s ease 0s 1 normal forwards;
}

.heading {
  text-align: center;
}

.sub-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-content: center;
  margin-bottom: 0.1rem;
}

.head-frontend:hover ~ .list-frontend {
  font-style: bold;
  color: red;
  display: block;
}

.sub-row .column {
  border: 0;
  flex: 1;
  opacity: 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  animation: fade 1s ease 1s 1 normal forwards;
}



@keyframes h2entry {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes parentry {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  60% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

   
  

  @keyframes radialWipe {
    0% {
      border: .1rem solid transparent;
      border-radius: 1rem;
      
    }
    50% {
      border: .1rem solid transparent;
      border-radius: 1rem;
      
    }
    100% {
      border: .1rem solid white;
      border-radius: 1rem;
    }
  }

  
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }
   40% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes banime{
  0%{
     border: 0.0rem solid #ddd;
  border-radius: 1rem;

  }

  100%{
     border: 0.1rem solid #ddd;
  border-radius: 1rem;

  }
}